{% extends "base.html" %}

<!-- inicia o bloco -->
{% block content %}
<div>
    <div>
        <div>

            <!-- Secao de edicao das listas -->
            <h3>Editar lista:</h3>

            <!-- | e um filtro de template -->
            <h5>{{ todo_list.title | upper }}</h5>
        </div>
        <ul>
            {% for todo in object_list %}
            <li>
                <div>
                    <div
                        role="button"
                        onclick="location.href='{% url "item-update" todo_list.id todo.id %}'">

                        {{ todo.title }}

                        <!-- Filtro de template para exibir data -->
                        (Prazo: {{ todo.due_date | date:"D, d/m" }})
                    </div>
                </div>
            </li>
            {% empty %}
            <p>Não existem itens na sua lista!</p>
            {% endfor %}
        </ul>
        <p>
            <input
                value="Adicionar um novo item"
                type="button"
                onclick="location.href='{% url "item-add" todo_list.id %}'"
            />
            <input
                value="Deletar esta lista"
                type="button"
                onclick="location.href=
                '{% url "list-delete" todo_list.id %}'" 
            />
        </p>
    </div>
</div>
{% endblock %}